.nav {
  padding: 16px 0;
  background: $orangeBg;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    @include logo;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 40px;

    font-family: "Space Grotesk", sans-serif;

    li {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }

    a {
      color: $blackBg;
    }
  }

  .search {
    color: $blackBg;
    background: transparent;
    border: none;
    outline: none;
  }
}
